.middle-content {
  width: 1040px;
  margin: 0 auto;

  &::after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }
}

@import "./layout.header";
@import "./layout.main.section";
@import "./layout.footer";

#kung-content {
  float: left;
  width: 728px;
  min-height: 300px;
}