<div class="middle-content">
    <div id="kung-content">
        <section class="main-banner">
            광고배너
        </section>
        <section class="content-tab">
            <div class="tab-banner">제휴배너</div>
            <div class="section-title">
                <h4 class="section-title">최신글 모아보기</h4>
                <ul class="tab-button">
                    <li><a href="#" id="main-tab-prev"><i class="xi-angle-left"></i></a></li>
                    <li><a href="#" id="main-tab-next"><i class="xi-angle-right" style="margin-left: -9px;"></i></a></li>
                </ul>
            </div>
            {@ $mainTab = rand(1, 5); }
            <div class="tab-container" role="tab-container" id="main-tab">
                <ul class="tab-head" role="tab-head">
                    <li><a href="#" data-index="1" data-active="true"|cond="$mainTab == 1">KUNG 공지사항</a></li>
                    <li><a href="#" data-index="2" data-active="true"|cond="$mainTab == 2">커뮤니티 게시판</a></li>
                    <li><a href="#" data-index="3" data-active="true"|cond="$mainTab == 3">대학본부/총학생회</a></li>
                    <li><a href="#" data-index="4" data-active="true"|cond="$mainTab == 4">건대교지</a></li>
                    <li><a href="#" data-index="5" data-active="true"|cond="$mainTab == 5">KU미디어</a></li>
                </ul>
                <ul class="tab-body" role="tab-body" style="height: 205px;">
                    <li data-index="1" data-active="true"|cond="$mainTab == 1">
                        <h4 class="section-title">공지사항<a href="/"></a></h4>
                        <div class="section-row kung-widget-gallery">
                            <div class="section-col4 thumbnail-container">
                                <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                                <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                            </div>
                            <div class="section-col6">
                                <ul class="kung-widget-list">
                                    <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                                    <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                    <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                                    <li><a href="/6147835"><span style="font-weight:bold">영단기/중단기 강남학원 파격할인 제휴 안내</span></a></li>
                                    <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-index="2" data-active="true"|cond="$mainTab == 2">
                        <div class="section-row">
                            <div class="section-col5">
                                <h4 class="section-title">전체게시판<a href="/"></a></h4>
                                <ul class="kung-widget-list">
                                    <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                                    <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                    <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                                    <li><a href="/6147835"><span style="font-weight:bold">영단기/중단기 강남학원 파격할인 제휴 안내</span></a></li>
                                    <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                </ul>
                            </div>
                            <div class="section-col5">
                                <h4 class="section-title">자게/익게/사랑방</h4>
                                <ul class="kung-widget-list">
                                    <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                                    <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                    <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                                    <li><a href="/6147835"><span style="font-weight:bold">영단기/중단기 강남학원 파격할인 제휴 안내</span></a></li>
                                    <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-index="3" data-active="true"|cond="$mainTab == 3">
                        <h4 class="section-title">대학본부 / 학생자치기구 공지사항<a href="/"></a></h4>
                        <div class="section-row kung-widget-gallery">
                            <div class="section-col4 thumbnail-container">
                                <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                                <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                            </div>
                            <div class="section-col6">
                                <ul class="kung-widget-list">
                                    <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                                    <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                    <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                                    <li><a href="/6147835"><span style="font-weight:bold">영단기/중단기 강남학원 파격할인 제휴 안내</span></a></li>
                                    <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                                    <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-index="4" data-active="true"|cond="$mainTab == 4">
                        <h4 class="section-title">건대교지<a href="/"></a></h4>
                        <div class="section-row kung-widget-gallery">
                            <div class="section-col33 thumbnail-container">
                                <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"><span>NEW</span></a>
                                <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                                <p class="description">
                                    <a href="/">KUNG 이벤트</a>
                                    <span><i class="xi-comment-o"></i>26</span>
                                </p>
                            </div>
                            <div class="section-col33 thumbnail-container">
                                <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                                <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                                <p class="description">
                                    <a href="/">KUNG 이벤트</a>
                                    <span><i class="xi-comment-o"></i>26</span>
                                </p>
                            </div>
                            <div class="section-col33 thumbnail-container">
                                <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                                <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                                <p class="description">
                                    <a href="/">KUNG 이벤트</a>
                                    <span><i class="xi-comment-o"></i>26</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li data-index="5" data-active="true"|cond="$mainTab == 5">
                        <h4 class="section-title">KU 미디어<a href="/"></a></h4>
                        <div class="section-row kung-widget-gallery">
                            <div class="section-col4 thumbnail-container">
                                <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                                <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                            </div>
                            <div class="section-col6">
                                <ul class="kung-widget-image news-section">
                                    <li>
                                        <div class="thumbnail">
                                            <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                                        </div>
                                        <div class="description">
                                            <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                                            <p class="infos">
                                                <a href="/" class="category">건대신문</a>
                                                <span><i class="xi-comment-o"></i>26</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                                        </div>
                                        <div class="description">
                                            <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                                            <p class="infos">
                                                <a href="/" class="category">건대신문</a>
                                                <span><i class="xi-comment-o"></i>26</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="content-event" style="height: 186px;">
            <h4 class="section-title">문화초대 이벤트<a href="/"></a></h4>
            <div class="section-row kung-widget-gallery">
                <div class="section-col25 thumbnail-container">
                    <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"><span>NEW</span></a>
                    <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                    <p class="description">
                        <a href="/">KUNG 이벤트</a>
                        <span><i class="xi-comment-o"></i>26</span>
                    </p>
                </div>
                <div class="section-col25 thumbnail-container">
                    <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                    <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                    <p class="description">
                        <a href="/">KUNG 이벤트</a>
                        <span><i class="xi-comment-o"></i>26</span>
                    </p>
                </div>
                <div class="section-col25 thumbnail-container">
                    <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                    <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                    <p class="description">
                        <a href="/">KUNG 이벤트</a>
                        <span><i class="xi-comment-o"></i>26</span>
                    </p>
                </div>
                <div class="section-col25 thumbnail-container">
                    <a href="/" class="thumbnail" style="background-image: url('http://kung.kr/files/thumbnails/582/153/006/232x140.crop.jpg')"></a>
                    <a href="/" class="title">또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a>
                    <p class="description">
                        <a href="/">KUNG 이벤트</a>
                        <span><i class="xi-comment-o"></i>26</span>
                    </p>
                </div>
            </div>
        </section>
        {@ $sectionTab = rand(1, 6); }
        <section class="content-section" role="tab-container" id="section-tab">
            <div class="section-category">
                <nav class="category-list" role="tab-head">
                    <div data-index="1" data-active="true"|cond="$sectionTab == 1"><a href="#"><i class="xi-forum"></i><span>커뮤니티</span></a></div>
                    <div data-index="2" data-active="true"|cond="$sectionTab == 2"><a href="#"><i class="xi-group"></i><span>동아리</span></a></div>
                    <div data-index="3" data-active="true"|cond="$sectionTab == 3"><a href="#"><i class="xi-basket"></i><span>중고장터</span></a></div>
                    <div data-index="4" data-active="true"|cond="$sectionTab == 4"><a href="#"><i class="xi-home"></i><span>원룸/투룸</span></a></div>
                    <div data-index="5" data-active="true"|cond="$sectionTab == 5"><a href="#"><i class="xi-movie"></i><span>KU시네마</span></a></div>
                    <div data-index="6" data-active="true"|cond="$sectionTab == 6"><a href="#"><i class="xi-school"></i><span>강의정보</span></a></div>
                </nav>
            </div>
            <ul class="section-category-content" role="tab-body">
                <li data-index="1" data-active="true"|cond="$sectionTab == 1">
                    <include target="./_section.community.html" />
                </li>
                <li data-index="2" data-active="true"|cond="$sectionTab == 2">
                    <include target="./_section.club.html" />
                </li>
                <li data-index="3" data-active="true"|cond="$sectionTab == 3">
                    <include target="./_section.flee.html" />
                </li>
                <li data-index="4" data-active="true"|cond="$sectionTab == 4">
                    <include target="./_section.room.html" />
                </li>
                <li data-index="5" data-active="true"|cond="$sectionTab == 5">
                    <include target="./_section.cinema.html" />
                </li>
                <li data-index="6" data-active="true"|cond="$sectionTab == 6">
                    <include target="./_section.lecture.html" />
                </li>
            </ul>
        </section>
    </div>
    <include target="./_layout.main.aside.html" />
</div>