<block>
    <div class="section-row">
        <div class="section-col33">
            <ul class="kung-widget-image">
                <li>
                    <div class="thumbnail border">
                        <a href="/6138572" style="background-image: url('http://kung.kr/layouts/kung_official_2017/img/thumbnail/kucine.png')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">KU시네마 영화관에 대해 소개합니다</a></h4>
                        <p class="infos">
                            <span class="date">공식 홈페이지</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section-col66">
            <ul class="kung-widget-image" style="margin-top: -8px; margin-bottom: 8px;">
                <li>
                    <div class="thumbnail border">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/936/192/006/232x160.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">4월 25일부터 5월 1일까지의 쿠씨네 상영시간표입니다:D</a></h4>
                        <p class="infos">
                            <span class="date">상영시간표</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="thumbnail border">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/920/092/006/232x260.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">KU시네마 영화관 이용요금 안내</a></h4>
                        <p class="infos">
                            <span class="date">티켓구매 안내</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-row">
        <div class="section-col66">
            <h4 class="section-title">이벤트<a href="/"></a></h4>
            <ul class="kung-widget-image">
                <li>
                    <div class="thumbnail">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section-col33">
            <h4 class="section-title">뉴스레터<a href="/"></a></h4>
            <ul class="kung-widget-image single">
                <li>
                    <div class="thumbnail">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-row">
        <div class="section-col6">
            <h4 class="section-title">현재상영작/기획전<a href="/"></a></h4>
            <ul class="kung-widget-cinema" style="width: 426px; margin-top: 8px;">
                <li>
                    <a class="thumbnail" href="/" style="background-image: url('http://kung.kr/files/thumbnails/347/150/006/232x260.crop.jpg')"></a>
                    <p class="title"><a href="/">루스 베이더 긴즈버그: 나는 반대한다 (3.28)</a></p>
                </li>
                <li>
                    <a class="thumbnail" href="/" style="background-image: url('http://kung.kr/files/thumbnails/347/150/006/232x260.crop.jpg')"></a>
                    <p class="title"><a href="/">루스 베이더 긴즈버그: 나는 반대한다 (3.28)</a></p>
                </li>
                <li>
                    <a class="thumbnail" href="/" style="background-image: url('http://kung.kr/files/thumbnails/347/150/006/232x260.crop.jpg')"></a>
                    <p class="title"><a href="/">루스 베이더 긴즈버그: 나는 반대한다 (3.28)</a></p>
                </li>
            </ul>
        </div>
        <div class="section-col4">
            <h4 class="section-title">상영예정작<a href="/"></a></h4>
            <ul class="kung-widget-cinema" style="width: 284px; margin-top: 8px;">
                <li>
                    <a class="thumbnail" href="/" style="background-image: url('http://kung.kr/files/thumbnails/347/150/006/232x260.crop.jpg')"></a>
                    <p class="title"><a href="/">루스 베이더 긴즈버그: 나는 반대한다 (3.28)</a></p>
                </li>
                <li>
                    <a class="thumbnail" href="/" style="background-image: url('http://kung.kr/files/thumbnails/347/150/006/232x260.crop.jpg')"></a>
                    <p class="title"><a href="/">루스 베이더 긴즈버그: 나는 반대한다 (3.28)</a></p>
                </li>
            </ul>
        </div>
    </div>
</block>