<block>
    <div class="section-row">
        <div class="section-col10">
            <h4 class="section-title">강의정보<a href="/"></a></h4>
            <ul class="kung-widget-image">
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</block>