<block>
    <div class="section-row" style="margin-bottom: 14px;">
        <div class="section-col33">
            <h4 class="section-title">자유게시판<a href="/"></a></h4>
            <ul class="kung-widget-list padding">
                <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
            </ul>
        </div>
        <div class="section-col33">
            <h4 class="section-title">익명게시판<a href="/"></a></h4>
            <ul class="kung-widget-list padding">
                <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
            </ul>
        </div>
        <div class="section-col33">
            <h4 class="section-title">사랑방<a href="/"></a></h4>
            <ul class="kung-widget-list padding">
                <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
            </ul>
        </div>
    </div>
    <div class="section-row">
        <div class="section-col33">
            <h4 class="section-title">취업게시판<a href="/"></a></h4>
            <ul class="kung-widget-list padding">
                <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
            </ul>
        </div>
        <div class="section-col33">
            <h4 class="section-title">강의게시판<a href="/"></a></h4>
            <ul class="kung-widget-list padding">
                <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
            </ul>
        </div>
        <div class="section-col33">
            <h4 class="section-title">공모전/대외활동<a href="/"></a></h4>
            <ul class="kung-widget-list padding">
                <li><a href="/6172986" class="new">도배글 작성으로 인한 아이디 정지 명단 공지</a></li>
                <li><a href="/6170489">강의정보&amp;강의자료 작성시 포인트 2배 이벤트!</a></li>
                <li><a href="/6170288">건국대 '2019-1학기 직무 멘토링 DAY' 실시</a></li>
                <li><a href="/6150407">[학생상담센터] 또래상담자 캠페인, 집단상담 프로그램 안내 및 모집</a></li>
                <li><a href="/6147835">건국대학교 겨울방학 라식/라섹 제휴할인 EVENT 에스앤비안과가 준비한 3가지 혜택</a></li>
            </ul>
        </div>
    </div>
</block>