<block>
    <div class="section-row">
        <div class="section-col10">
            <ul class="kung-widget-image" style="margin-top: -8px; margin-bottom: 8px;">
                <li>
                    <div class="description president color-orange">
                        <h4 class="title"><a href="/">지난학기 교재, 중고장터에 올리고 용돈 챙기세요!</a></h4>
                        <p class="infos">
                            <span class="date">중고장터</span>
                            <span class="date">상품 올리기</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="thumbnail border">
                        <a href="/6138572" style="background-image: url('http://kung.kr/layouts/kung_official_2017/img/thumbnail/dong_notice.png')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">학우님! 중고거래 하기전에 읽어보세요</a></h4>
                        <p class="infos">
                            <span class="date">중고거래 필독서</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="thumbnail border">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/attach/images/247/669/195/006/97987315928a4f79a1c9a78fdad93e9d.png')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">동아리연합회 페이스북 바로가기</a></h4>
                        <p class="infos">
                            <span class="date">공식 페이스북</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-row">
        <div class="section-col10">
            <h4 class="section-title">중고장터<a href="/"></a></h4>
            <ul class="kung-widget-image">
                <li>
                    <div class="thumbnail">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="thumbnail">
                        <a href="/6138572" style="background-image: url('http://kung.kr/files/thumbnails/572/138/006/232x160.crop.jpg')"></a>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span class="date">2019-03-13</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h4 class="title"><a href="/">[사과대 학회] 사과대 학회 스펙21에서 새내기를 모집합니다!</a></h4>
                        <p class="infos">
                            <a href="/" class="category">KU시네마 이벤트</a>
                            <span><i class="xi-comment-o"></i>26</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</block>